<!-- NAVIGATION -->

<nav class="navbar navbar-inverse" id="desktop-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="#">TALK GREEN</a></li>
        <li><a href="#">AGENDA</a></li>
        <li><a href="#">SPONSORS</a></li>
        <li><a href="#">MEDIA</a></li>
        <li><a href="#">TRAVEL</a></li>
        <li><a href="#">FLOORPLAN</a></li>
        <li><a href="#">MORE</a></li>
        <li><button class="btn navbar-btn button button-hrn" id="get-tickets">GET TICKETS</button></li>

      </ul>
    </div>
  </div>
</nav>

<!-- HEADER -->

<div class="header">
  <div class="header-container text-align-center">
      <h2 id="headline">
          <span id="first-word">A </span>
          <span id="second-word">Movement</span>
          <span id="third-line">for Earth Day</span>
      </h2>
  </div>
  <div class="subheader-container text-align-center">
    <h1 class="sub-headline">Global Climate Talks</h1>
    <button class="btn button button-hrn-invert" id="request-agenda">REQUEST AGENDA</button>
    <button class="btn button button-hrn" id="getTickets">GET TICKETS</button>
  </div>
</div>

<!-- FUTURE OF WORK  -->

<section class="futurework text-align-center">
  <div id="future">
    <div class="description">
        <h3 id="title">The Future is NOW</h3>
        <p class="paragraph">
            <b>Climate change</b> is the defining issue of our age. The landmark Paris Agreement reached last December commits all countries to holding global temperature rise to “well below 2 degrees Celsius”. This feat will require economy-wide global and national transformations. A robust, multi-sector response will be a key component of this solution to pivot societies toward a more sustainable future for all – the future we want. <br/><br/>Our understanding of climate change is rapidly evolving—from the world’s biggest problem, to the world’s biggest opportunity. Technological change, citizen mobilization, economic and political competition, and the formation of massive public-private coalitions have all helped turn the climate action risk-reward equation on its head.
            <br/><br/>
        </p>
    </div>
    <button class="btn navbar-btn button button-hrn margin-right-30">JOIN OUR COMMUNITY</button>
    <button class="btn navbar-btn button button-hrn">WATCH TRAILER</button>
  </div>
</section>
